@font-face {
	font-family: "Dayrom";
	src: url(/lanave/fonts/DAYROM_.ttf) format("truetype");
}

@font-face {
	font-family: "Calibri";
	src: url(/lanave/fonts/calibri.ttf) format("truetype");
}

@font-face {
	font-family: "CalibriL";
	src: url(/lanave/fonts/calibril.ttf) format("truetype");
}

body{
	background-color: #F1F1F1;
	font-family: Calibri, Arial;
}

h1,h2,h3,h4,h5,h6{
	margin-top:5px;
	margin-bottom:5px;
}

.navbar {
 	margin-bottom:0px;
 }

.navbar-default .navbar-brand {
	font-family: Dayrom;	
	font-size:30px;
	color:#19a3e2;
	float: none;
}

.navbar-default {
	background-color: white;
	border:0px;
	border-bottom: 2px solid #19a3e2;
	/*box-shadow:0 1px 2px #60A1BF;*/
	border-radius:0;
	font-size: 17px;
	font-family: CalibriL, Arial;

}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #19a3e2;
    background-color: transparent;
}

.navbar-default .navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #19a3e2;
	background-color: transparent;
}

@media (min-width: 768px){
	.navbar-nav>li>a {
		padding-top: 15px;
		padding-bottom: 13px;
		border-bottom: 2px solid transparent;
	}
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.section-video-container{
	width:100%;
	height:500px;
	overflow:hidden;
	position:relative;
}

.section-video{
	width:100%;
}

.section-video-cover{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:500px;
	background-color:rgba(255,255,255,0.2);
}

section.container{
	padding-top: 10px;
}

.panel.panel-default{
	border-radius: 0px;
	border:0px;
	box-shadow:0 0 5px black;
}

.panel-label{
	display:block;
	position:absolute;
	min-width: 10%;
	max-width:100%;
	z-index:999;
	background:rgba(25,163,226,0.8);
	padding:5px;
	color:white;
	text-align: center;
}

.panel-top-left-label{
	left:0;
	top:0;
}

.panel-top-left-label p{
	margin:0;
}

.panel-noticia .panel-label{
	font-size: 15px;
	font-weight:bold;
}

.panel-bottom-right-label{
	right:0;
	bottom:0;
}

.panel.panel-default .panel-body{
	width:100%;
	border:0px;
	padding:0px;
	/*background:#19a3e2;*/
	background: white;
	color:grey;
}

.panel.panel-default .panel-body h3{
	color:#19a3e2;
}

.panel-first-img-container{
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position:relative;
	overflow:hidden;
	height:300px;
}

.panel-noticia-container{
	padding: 10px 15px;
	height:300px;
	overflow: hidden;
	box-shadow: inset 0 3px 10px white;
	position:relative;
}

.btn {
    color: #19a3e2;
    background-color: #fff;
    border-color: #19a3e2;
    border-radius:0;
}

.btn.focus, .btn:focus, .btn:hover{
	color: #fff;
    background-color: #19a3e2;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #fff;
    background-color: #19a3e2;
}
